* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: rgba(4, 95, 117, 0.801);
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar ul li:hover {
  background: #444;
  transition: all 0.4s ease;
}

.sidebar ul li a.active {
  background: #444;
}

.sidebar ul li:first-child {
  line-height: 60px;
  margin-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.sidebar ul li:first-child:hover {
  background: none;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}

.sidebar .title {
  padding: 0 10px;
  font-size: 20px;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  min-height: 100vh;
  left: 250px;
  background: #f5f5f5;
}

.top-bar {
  position: fixed;
  height: 60px;
  width: calc(100% - 300px);
  background: #fff;
  display: grid;
  grid-template-columns: 10fr 0.4fr 1fr;
  grid-gap: 5px;
  align-items: center;
  color: #444;
  padding: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-bar .search {
  position: relative;
  max-width: 400px;
}
.top-bar .search span{
  font-weight: bolder;
}


.user {
  position: relative;
  width: 50px;
  height: 50px;
}
.user img{
  width: 50px;
  height: 50px;
  border: 2px solid rgb(2, 128, 59);
  border-radius: 10rem;
}

/* add form */
.form-container {
  background: #e4e4e4;
  margin: 75px;
  padding: 15px;
  border-radius: 15px;
}

.form {
  gap: 20px;
  /* padding: 40px; */
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input, select{
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  padding: 8px;
  background: rgba(255, 255, 255, 0.733);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
}

.submit-btn {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  margin-top: 15px;
  text-align: center;
}
.submit-btn .submit {
  background: #444;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.submit-btn .submit:hover {
  background: rgba(26, 134, 223, 0.733);
}


/* Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 10rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #70d4aa;
  border-radius: 10rem;
}

/*  Responsive */

@media (max-width: 1090px) {
  .sidebar {
    width: 60px;
  }

  .main {
    width: calc(100% - 60px);
    left: 60px;
  }

  .top-bar {
    width: calc(100% - 60px);
  }
}

@media (max-width: 860px) {
  
}
@media (max-width: 760px) {
  .form{
    padding: 10px;
  }
  label{
    padding: 5px;
  }
} 

@media (max-width: 530px) {
  .form-container{
    margin: 25px 0;
  }
  .form{
    gap: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
  }
}

@media (max-width: 420px) {

  .search input {
    padding: 0 10px;
  }

  .user {
    width: 40px;
    height: 40px;
  }
  .form-container{
    background: none;
  }
}